@{
    ViewBag.Title = "About";
}
<p>Mi dibujo</p>
    <style>
        .cabello {
            width: 500px;
            height: 420px;
            background: #000000;
            border-radius: 875px;
            position: fixed;
            left: 150px;
            top: 170px;
        }
        .cara {
            width: 420px; /*450*/
            height: 340px; /*380*/
            background: #ffe7e2;
            border-radius: 255px;
            /*border: 20px solid #000000;*/
            position: fixed;
            margin-bottom: 0;
            left: 190px;
            top: 250px;
        }
        .coletaIzquierda {
            width: 220px;
            height: 220px;
            background: #000000;
            border-radius: 400px;
            position: fixed;
            left: 40px;
            top: 120px;
        }
        .coletaDerecha {
            width: 220px;
            height: 220px;
            background: #000000;
            border-radius: 400px;
            position: fixed;
            left: 550px;
            top: 120px;
        }
        .manchaIzquierda {
            width: 55px;
            height: 55px;
            background: #f888a3;
            border-radius: 50px;
            position: fixed;
            left: 250px;
            top: 490px;
        }
        .manchaDerecha {
            width: 55px;
            height: 55px;
            background: #f888a3;
            border-radius: 50px;
            position: fixed;
            left: 500px;
            top: 490px;
        }
        .boca {
            content: "";
            position: absolute;
            width: 68px;
            height: 45px;
            border: 10px solid black;
            left: 370px;
            top: 500px;
            border-radius: 0 0 60px 60px;
            border-top: transparent;
        }
        .ojoIzquierdo {
            width: 140px;
            height: 15px;
            border-radius: 10px;
            background-color: black;
            transform: rotate(18deg);
            position: fixed;
            left: 200px;
            top: 400px;
        }
        .ojoDerecho {
            width: 140px;
            height: 15px;
            border-radius: 10px;
            background-color: black;
            transform: rotate(-35deg);
            position: relative;
            left: 250px;
            top: -80px;
        }
        .cintaIzquierda {
            width: 145px;
            height: 95px;
            position: relative;
            left: 20px;
            top: 105px;
            border-radius: 48%;
            border-bottom: 35px solid red;
            transform: rotate(130deg);
        }
        .cintaDerecha {
            width: 145px;
            height: 95px;
            position: relative;
            border-radius: 48%;
            border-bottom: 35px solid red;
            transform: rotate(130deg);
            left: 150px;
            top: 150px;
        }

    </style>

<div class="cabello">
    <div class="cara">
    </div>
</div>

<div class="coletaIzquierda">
    <div class="coletaDerecha">
    </div>
</div>

<div class="manchaIzquierda">
    <div class="manchaDerecha">
    </div>
</div>


<div class="ojoIzquierdo">
    <div class="ojoDerecho">
    </div>
</div>

<div class="cintaIzquierda">
</div>

<div class="boca"></div>
